@model IEnumerable<BLL.DTO.ClientDTO>
@{
//ViewData["Title"] = "Список городов";

}
<!DOCTYPE html>

<html>
<head>
    <title>Все города</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>Имя:</td>
                <td><input type="text" name="name" required/> </td>
                <td>Город:</td>
                <td><input type="text" name="city" required/> </td>
                <td>Улица:</td>
                <td><input type="text" name="street" required/> </td>
                <td>Номер дома:</td>
                <td><input type="number" name="number" required/> </td>
            </tr>
            <tr><td><input type="submit" value="Создать" /> </td><td></td></tr>
        </table>
    </form>
    @{ 
        var errorMessage = ViewBag.Message;
        if (errorMessage != null)
        {
            <p>@errorMessage</p>
        }
     }
    
    <h3>Все клиенты</h3>
    <table>
        <tr>
            <td>Имя</td>
            <td>Адресс</td>
        </tr>
        @foreach (var client in Model)
        {
    <tr>
        <td>@client.Name</td>
        <td>@client.Building.CityName, @client.Building.StreetName, @client.Building.Number</td>
        <td><a href="~/Client/UpdateClient?id=@client.Id">Изменить</a></td>
        <td><a href="~/Client/DeleteClient?id=@client.Id">Удалить</a></td>
        
    </tr>
        }
    </table>
</body>
</html>