@model BLL.DTO.ClientDTO
@{
    //ViewData["Title"] = "Список городов";

}
<!DOCTYPE html>

<html>
<head>
    <title>Все города</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <input type="hidden" name="id" value="@Model.Id"/>
                <td>Имя:</td>
                <td><input type="text" name="name" value="@Model.Name" required /> </td>
                <td>Город:</td>
                <td><input type="text" name="city" value="@Model.Building.CityName" required /> </td>
                <td>Улица:</td>
                <td><input type="text" name="street" value="@Model.Building.StreetName" required /> </td>
                <td>Номер дома:</td>
                <td><input type="number" name="number" value="@Model.Building.Number" required /> </td>
            </tr>
            <tr><td><input type="submit" value="Изменить" /> </td><td></td></tr>
        </table>
    </form>
    @{
        var errorMessage = ViewBag.Message;
        if (errorMessage != null)
        {
            <p>@errorMessage</p>
        }
    }
    </body>
</html>
