@model IEnumerable<BLL.DTO.ProductPriceDTO>
    @{
        Layout = "_Layout";

    }
    <!DOCTYPE html>

    <html>
    <head>
        <title>Все города</title>
    </head>
    <body>
        @{
            var store = ViewBag.Store;
            var products = ViewBag.Products;
        }


        <h3>Все продукты магазина @store.Name</h3><br />
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productCreateModel">+</button>

        <table class="table table-bordered table-hover">
            <tr>
                <td>Название</td>
                <td>Цена(р/час)</td>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                </tr>
            }
        </table>

        <div class="modal fade" id="productCreateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Добавить продукт для аренды</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="product-name" class="col-form-label">Продукт:</label>
                                <select name="ProductName" id="product-name" required>
                                    @foreach (var product in products)
                                    {
                                        <option value="@product.Name">@product.Name</option>
                                    }
                                </select>
                            </div><br />
                            <div class="form-group">
                                <label for="price" class="col-form-label">Цена:</label>
                                <input type="number" class="form-control" name="Price" id="price" required>
                            </div><br />
                            <input type="hidden" name="RentStoreId" value="@store.Id" />
                            <input type="submit" value="Создать" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
