@model IEnumerable<BLL.DTO.ProductPriceDTO>
    @{
//ViewData["Title"] = "Список городов";

    }
    <!DOCTYPE html>

    <html>
    <head>
        <title>Все города</title>
    </head>
    <body>
        @{ 
            var store = ViewBag.Store;
            var products = ViewBag.Products;
        }
        <form method="post">
            <table>
                <tr>
                    <td>Продукт:</td>
                    <td><select name="ProductName" required>
                            @foreach(var product in products)
                            {
                                <option value="@product.Name">@product.Name</option>
                            }
                        </select> 
                    </td>
                    <td>Цена:</td>
                    <td><input type="number" name="Price" required /> </td>
                    <input type="hidden" name="RentStoreId" value="@store.Id" />
                </tr>
                <tr><td><input type="submit" value="Создать" /> </td><td></td></tr>
            </table>
        </form>
        @{
            var errorMessage = ViewBag.Message;
            if (errorMessage != null)
            {
                <p>@errorMessage</p>
            }
        }

        <h3>Все продукты магазина @store.Name</h3>
        <table>
            <tr>
                <td>Название</td>
                <td>Цена(р/час)</td>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                </tr>
            }
        </table>
    </body>
</html>
